/* ===== GLOBAL ===== */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* ===== HEADER ===== */
.header {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.menu-btn {
  background: #34495e;   /* Dark background */
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;          /* Icon color */
  padding: 6px 10px;
  border-radius: 6px;
}
.menu-btn:hover {
  background: #2c3e50;
}

.title {
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.user {
  font-weight: bold;
}

/* ===== LAYOUT ===== */
.main {
  display: flex;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 230px;
  height: calc(100vh - 60px);
  background: #34495e;
  padding: 20px;
  transition: 0.3s;
}

.sidebar.close {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar h2 {
  color: white;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #2c3e50;
}

/* ===== CONTENT ===== */
.content-area {
  flex: 1;
  padding: 25px;
}

/* ===== CARDS ===== */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

/* ===== BUTTON ===== */
button {
  background: #3498db;
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px) {

  .sidebar {
    position: absolute;
    z-index: 10;
  }

}
