.sidebar {
  width: 160px;
  background: #fff;
  color: white;
  padding: 20px;
  transition: 0.3s;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* TITLE */

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 22px;
}

/* MENU */

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar nav a {
  text-decoration: none;
  color: #000;
  padding: 10px 14px;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar nav a:hover {
  background: #3498db;
}
